.login_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Large Cell Screend */

/* @media only screen and (min-width: 600px) {
} */

/* Tablets and Small Notebooks */

/* @media only screen and (min-width: 780px) {
} */

/* Large Screens */

/* @media only screen and (min-width: 1200px) {
} */
